html body {
				background: #96EFFE;
				background: -webkit-linear-gradient(top right, #96EFFE, #E324FC);
				background: -moz-linear-gradient(top right, #96EFFE, #E324FC);
				background: linear-gradient(to bottom left, #96EFFE, #E324FC);
				overflow: auto;
				min-height: 100%;
}

body {
	height: 100vh;
}
